*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "montserrat",sans-serif;
}
a{
  text-decoration: none;
}

.b1{
  width: 100%;
  height: 100%;
  margin: auto;
  background:url(image.png);
  top: -10px;
  display: table;
  background-size: cover;
  text-align: center;
}
.b1 .in1{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;

}
#cotext{
  font-family: 'Century Gothic',sans-serif;
  color: #f9f3f4;
  font-size: 200%;
  text-shadow: 0 0 300px #000;

}
.down i {
  color: #fff;
  font-size: 60px;
}
.text1{
  text-decoration: none;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-family: 'Century Gothic',sans-serif;
}
.cont {
  max-width: 100%;
  margin: auto;
  text-align: center;
  color: #190d22;
  background-color: #fff;
}
.context{
  font-family: 'Century Gothic',sans-serif;
  padding: 20px;
}
.context h2{
  font-weight: 700px;
  font-size: 37px;
  padding: 20px;
}
.context p {
max-width: 500px;
margin: auto;
text-align: center;
}

.row p {
  font-size: 20px;
  padding: 10px;
}
.container{
  padding: 20px;
}
.cont i 
{
  font-size: 60px;
}

.paym{
  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: #190d22;
  width: 100%;
  color: #fff;
}
.payu{
  margin: auto;
  max-width: 500px;
  font-family: 'Century Gothic',sans-serif;
}
.payu h2{
  font-weight: 700px;
  font-size: 37px;
  padding: 20px;
}
.paym i{
  font-size: 60px;
}

.sup{
  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  width: 100%;
  color: #190d22;
}
.sup1{
  margin: auto;
  max-width: 500px;
  font-family: 'Century Gothic',sans-serif;
}
.sup1 h2{
  font-weight: 700px;
  font-size: 37px;
  padding: 20px;
}
.sup i{
  font-size: 60px;
}

.sup a{
  text-decoration: none;
  color: #190d22;
  border-style: none;
}
.sup a:hover{
  text-decoration: none;
  color: #190d22;
  border-style: none;
}
.ofert h2{
  font-weight: 700px;
  font-size: 37px;
  text-align: center;
  padding: 20px;
}
.ofert p{
  text-align: center;
}
.box{
  border-radius: 10px;
  background:#190d22;
  padding: 30px 40px 30px 50px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 5px;

}
.box button{
  background-color: #190d22;
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  margin: auto;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
}
.box button:hover{
  
  background-color: #fff;
  border: 2px solid #190d22;
  cursor: pointer;
  color: #190d22;
  text-decoration: none;
  margin: auto;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
}

.box h2 {
  font-size: 4em;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;

}
.box h3{
  font-size: 13px;
  padding: 10px;

}
.box p{
  font-size: 1em;
  text-align: center;

}

.box a{
  text-decoration: none;
  font-size: 1em;
}

footer{
  background: #190d22;
  padding: 10px;
  text-align: right;
}

.copyrigt{
  color: #f9f3f4;
  font-size: 1em;
  float: left;
  margin: 15px;
}
.steamimg{
  float: right;
}
